.line-spacing {
    line-height: 1.5em;
    font-size: 16px;
    color: #364147;
}
.mg-tb{
    margin-top: 30px;
    margin-bottom: 15px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

.desc h3{
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #2d2d2d;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .botao {
    
    text-transform: uppercase;
    outline: 0;
    border: 1px solid #2d2d2d;
    border: 0; 
    width: 100%;
    padding: 15px;
    color: #2d2d2d;
    
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    
  }
  .botaoAtt{
    background: #2d2d2d;
    color: #ffc851;
    width: 50%;
    text-align: center;
  }
  button:hover,button:active,button:focus {
    background: #2d2d2d;
    color: #ffc851;
  }
  .form .message {
    margin: 15px 0 0;
    
    font-size: 14px;
  }
  .form .message a {
    color: #faa541;
    text-decoration: none;
  }

  .mt-10{
    margin-top: 100px;
  }
  